<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar-expand-md  " arial-label="Furni navigation bar">
    <div class="container">
        <a style="color: white;" class="navbar-brand" href="index.html">Furnique<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:3001/">Home</a>
                </li>
                <li><a class="nav-link" href="http://localhost:3001/shop">Shop</a></li>
                <li><a class="nav-link" href="about.html">About us</a></li>
                <li><a class="nav-link" href="contact.html">Contact us</a></li>
                <!-- <li><a class="nav-link" href="http://localhost:3001/login">Sign in</a></li> -->
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/user.svg" alt="Profile">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="/userProfile">Profile</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
                <li><a class="nav-link" href="/cart"><img src="images/cart.svg" alt="Cart"></a></li>
                <li><a class="nav-link" href="cart.html"><img src="images/whishlist.png" alt="Wishlist"></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header/Navigation -->
